:root {
    --font: 'Poppins';

    --font-small: 16px;
    --font-medium: 18px;
    --font-large: 20px;

    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 600;
    --font-bold: 700;

    --z-dropdown: 2;
}