.dark {
  // --accent-color-green: #51d289;
  // --accent-color-yellow: #ffe600;
  --accent-color: #4c8bf7;
  --light-color: #fffde7;
  --main-reverse-color: #fbfbfb;
  --main-color: #1e1e1e;
  --secondary-color: #d2d2d2;
  --dark-color: #1e1e1e;
}
